header.header
  .header__body
    .header__left
      h1.s-h1.header__title Excel
    .header__center
      span.header__document-name DOCUMENT NAME - 
      span.header__document-save SAVE?
    .header__right
      span.header__user USER NAME
      a(href="").header__exit EXIT