.table-body
  div(class="word-counter" id="js-word-counter")
    .empty-tab
  .table-body__grid-area
    div(class="number-counter" id="js-number-counter")
    div(class="table-body__blocks" id="js-table-body-blocks")
