.table-body {
  overflow: scroll;
  &__grid-area {
    display: flex;
  }
  &__blocks {
    display: flex;
  }
}

.empty-tab {
  flex: 0 0 auto;
  height: 35px;
  width: 40px;
  background-color: $grey--light;
}

.word-counter {
  flex: 0 0 auto;
  display: flex;
}

.tab {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $black;
  height: 20px;
  width: 100px;
  min-width: 40px;
  min-height: 15px;
  &--grey {
    height: 35px;
    width: 100px;
    background-color: $grey--light;
  }
  &--small {
    height:20px;
    width: 40px;
  }
}

.vertical-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 35px;
  cursor: col-resize;
  &:hover {
    background-color: $blue;
  }
}

.horizontal-line {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  cursor: row-resize;
  width: 40px;
  &:hover {
    background-color: $blue;
  }
}
